# Auto-approve known safe packages
allow-scripts=@parcel/watcher
allow-scripts=@prisma/client
allow-scripts=@prisma/engines
allow-scripts=@swc/core
allow-scripts=es5-ext
allow-scripts=esbuild
allow-scripts=prisma
allow-scripts=sharp
allow-scripts=unrs-resolver
